* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles */

.main {
    width: 350px;
    height: 450rem;
    padding: 8px;
}

li {
    list-style: none;

}


/* Header styles */

h1 {
    text-transform: uppercase;
    text-align: center;
}


/* Content styles */

.btn,
.add-item,
.item-entered {
    width: 320px;
}


.btn,
.add-item {
    margin-bottom: 5px;
    text-align: left;
}

.btn,
.add-item,
.close {
    color: #000;
    background-color: #fff;
}

.btn,
.close,
.reset {
    margin-top: 5px;
    border: 2px solid #000;
    text-transform: uppercase;
}

.btn {
    padding: 15px;
    font-size: 18px;
}

button:hover {
    background-color: #D1D3D4;
    
}

.add-item {
    display: none;
    padding: 5px 10px 5px 10px;
    border: 1px dotted #000;
}

.btn-clicked {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: #000;
    border-color: #000;
    color: #fff;
}

input[type="checkbox"],
.remove {
    float: right;
}

.remove {
    margin-left: 5px;
}

.item-found {
    text-decoration: line-through;
}

.item-entered {
    width: 90%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    background-color: #F1F2F2;
}


.close,
.reset {    
    padding: 8px;
    font-size: 12px;
    float: left;
}

.reset {
    margin-left: 10px;
    background-color: #000;
    color: #fff;
}


/* Footer styles
    (all the styles inside the < footer > tag)
*/


/* Responsive styles
    (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/