* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    color: white;
    font-family: "Raleway", sans-serif;
}

.main {
    width: 100%;
}

/*******************
    Header
*******************/

header {
    width: 100%;
    padding: 3rem;
    background-color: #00A79D;
}

#logo {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

/*******************
    Section
*******************/

section {
    width: 100%; 
}

li {
    list-style: none;
}

.btn,
.delete {
    border-radius: 2px;
}

.btn,
.add-item,
.item-entered {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 20px;
    margin-top: 5px;
    font-size: 18px;
    background-color: #D1D3D4;   
    
}

button:hover {
    background-color: #BCBEC0;
    border-color: #BCBEC0;
}

.add-item {
    padding: 10px;
    border: 1px dotted #82391B;
    margin-left: auto;
    margin-right: auto;
}

.btn,
.add-item {
    text-align: left;
}

.add-item {
    color: #A7A9AC;
    background-color: #fff;
}

.btn,
.close,
.reset {
    text-transform: uppercase;
}

.btn-clicked {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: #D1D3D4;
    color: #fff;
}

.item-found {
    text-decoration: line-through;
    text-decoration-color: #82391B;
}

.item-entered {
    padding: 8px;
    background-color: #CF652D;
}

.item-entered:nth-child(even) { 
    background-color: #82391B; 
}

input[type="checkbox"],
.delete {
    float: right;
}

.delete {
    margin-left: 5px;
    background-color: #fff;
    padding: 2px 5px;
    font-size: 12px;
    border: 1px solid #fff;
    color: #00A79D;
}

.close,
.reset {   
    width:50%; 
    margin-top: 5px;
    padding: 30px;
    font-size: 14px;
    float: left;
}

.close {
    background-color: #939598;

}
.reset {
    background-color: #58595B;
    color: #fff;

}


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {

    header {
        padding: 2rem;
    }

    button {
        border-radius: 0px;
    }

    .btn,
    .add-item,
    .item-entered {
        width: 100%;
    }


}

/*ipad potrait*/

@media only screen and (max-width: 768px) {


    .btn,
    .add-item,
    .item-entered {
        width: 90%;
    }

    .btn {
        border-radius: 2px;
    }

}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {    
    header {
        padding: .5rem;
    }

    #logo {
        width: 4rem;
    }

    .btn,
    .add-item,
    .item-entered {
        width: 100%;
    }

    .btn {
        border-radius: 0px;
    }

    .close,
    .reset { 
        padding: 15px;
    }
}

/*iPhone portrait*/

@media only screen and (max-width: 320px) {
   
}







