* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles */

.main {
    width: 320px;
    padding: 8px;
}

li {
    list-style: none;

}


/* Header styles */

h1 {
    text-transform: uppercase;
    text-align: center;
}


/* Content styles */

.btn,
.add-item {
    width: 320px;
    margin-bottom: 5px;
    background-color: #fff;
    text-align: left;
     background-color: #fff;
    color: #000;
}

.btn {
    margin-top: 5px;
    padding: 15px;
    font-size: 20px;
    border: 2px solid #000;
    text-transform: uppercase;
}

.add-item {
    display: none;
    padding: 10px;
    border: 2px dotted #000;
}

.btn-clicked {
    background-color: #000;
    color: #fff;
}

.item-entered {
    margin: 5px;
}

.checkbox {
    margin-right: 5px;
}

/* Footer styles
    (all the styles inside the < footer > tag)
*/


/* Responsive styles
    (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/